{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'images/favicon.png' %}">
    <title>Cenecú - {% block titulo %}{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="{% static 'css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extraStyle %}{% endblock %}
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <!-- AQUI VA DIRECCION INICIAL -->
                        <!-- Logo icon -->
                        <span><img style="width: 130px;" src="{% static 'images/logo.png' %}" alt="homepage"  id="logo-principal"  /></span>
                        <!--End Logo icon -->
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- Search -->
                        <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <a href="#">
                                                <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/5.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                    
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/person.png' %}" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="{% url 'cerrar_sesion' %}"><i class="fa fa-power-off"></i> Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Herramientas</li>
                        <li> <a class="has-arrow  " href="{% url 'index' %}" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Cursos
                        </span></a></li>
                        <li> <a class="has-arrow  " href="{% url 'listar_profesores' %}" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Profesores
                        </span></a></li>
                        <li> <a class="has-arrow  " href="{% url 'listar_areas' %}" aria-expanded="false"><i class="fa fa-object-group"></i><span class="hide-menu">Áreas de Interés
                        </span></a></li>
                        <li> <a class="has-arrow  " href="{% url 'listar_anuncios' %}" aria-expanded="false"><i class="fa fa-bullhorn"></i><span class="hide-menu">Anuncios
                        </span></a>
                        </li>
                        <li> <a class="has-arrow  " href="{% url 'listar_frases' %}" aria-expanded="false"><i class="fa fa-photo"></i><span class="hide-menu">Frases Motivacionales
                        </span></a>
                        </li>
                        <li> <a class="has-arrow  " href="{% url 'visualizar_reporte' %}" aria-expanded="false"><i class="fa fa-line-chart"></i><span class="hide-menu">Reportes
                        </span></a>
                        </li>
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            {% block contenido %}{% endblock %}
        </div>
        <!-- FINAL DE CUERPO DE PAGINA --->
        <!-- footer -->
            <footer class="footer"> © 2018 Cenecú. Todos los derechos reservados. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src=" {% static 'js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src=" {% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src=" {% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src=" {% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src=" {% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src=" {% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    {% block extraScript %}{% endblock %}
     <script src=" {% static 'js/curso.js'' %}"></script>
    <!-- Amchart -->
     <script src=" {% static 'js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src=" {% static 'js/lib/morris-chart/morris.js' %}"></script>
    <script src=" {% static 'js/lib/morris-chart/dashboard1-init.js' %}"></script>


    <script src=" {% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src=" {% static 'js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src=" {% static 'js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src=" {% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src=" {% static 'js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src=" {% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src=" {% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>

    <!-- scripit init-->

    <script src=" {% static 'js/scripts.js' %}"></script>
    

</body>

</html>