{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Crear profesor {% endblock %}
{% block contenido %}
<!-- Permite la creacion de un nuevo perfil de profesor -->
<div class="card">
  <h2> Crea un nuevo profesor </h2>
  
  <!-- Campos del perfil de un profesor -->
  <div class="card-body">
    <div class="form-validation">
      <form class="form-valide" action="{% url 'nuevo_profesor' %}"
          method="post"  enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="nombreProfesor">
            Nombre<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control texto" id="nombreProfesor" 
              name="nombreProfesor" maxlength="20"
              placeholder="Ingrese el nombre del profesor" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="apellidoProfesor">
            Apellido<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control texto" id="apellidoProfesor" 
              name="apellidoProfesor" maxlength="20"
              placeholder="Ingrese el apellido del profesor" required>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="titulo">
            Título<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control texto" id="titulo" 
              name="titulo" maxlength="100"
              placeholder="Ingrese el título" required>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="img_perfil">
            Foto<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="FILE" class="form-control" id="img_perfil" 
              name="img_perfil" required onchange="validarFormatoImagen()"
              accept="image/jpg, image/jpeg, image/png">
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="frases_personal">
            Frase Personal<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="textarea" class="form-control texto" id="frases_personal" 
              name="frases_personal" maxlength="100"
              placeholder="Ingrese la frase personal" required
              onkeydown="validarFrasePersonal(event)">
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="biografia">
            Biografía<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="textarea"  style=" height: 100px;" rows="10" 
            cols="50" class="form-control" id="biografia" name="biografia" 
            maxlength="255" placeholder="Ingrese la biografía del profesor" 
            required onkeydown="validarBiografiaProfesor(event)" 
            autocomplete="off">
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="_especializacion">
            Área de Especialización<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <select class="form-control" id="area_especializacion" 
              name="area_especializacion">
              {% for area in areas %}                          
                <option value="{{ area.pk }}"> {{ area.nombre }} </option>
              {% endfor %}
            </select>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="url_linkedin">
            LinkedIn<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="url" class="form-control" id="url_linkedin" 
              name="url_linkedin"
              placeholder="Ingrese el url del perfil de Linkedin"
              required>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="curriculum">
            Currículum<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="FILE" class="form-control" id="curriculum" 
              name="curriculum" accept=".pdf" 
              onchange="validarFormatoArchivo()" required>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="estado">
            Estado<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <select class="form-control" id="estado" name="estado">
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
        </div>
        
        <!-- Boton para agregar un nuevo perfil de profesor -->
        <div class="form-group row">
          <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary">Crear</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extraScript %}
<script type="text/javascript">

  $(".texto").keypress(function (key) {
    window.console.log(key.charCode)
    if ((key.charCode < 97 || key.charCode > 122)//letras mayusculas
        && (key.charCode < 65 || key.charCode > 90) //letras minusculas
        && (key.charCode != 45) //retroceso
        && (key.charCode != 241) //ñ
        && (key.charCode != 209) //Ñ
        && (key.charCode != 32) //espacio
        && (key.charCode != 225) //á
        && (key.charCode != 233) //é
        && (key.charCode != 237) //í
        && (key.charCode != 243) //ó
        && (key.charCode != 250) //ú
        && (key.charCode != 193) //Á
        && (key.charCode != 201) //É
        && (key.charCode != 205) //Í
        && (key.charCode != 211) //Ó
        && (key.charCode != 218) //Ú
        )
        return false;
  });

  function validarBiografiaProfesor(event){
    var biografia = document.getElementById('biografia').value;
    var key = event.key;            // Obtengo la tecla que presiono
    var keyCode = event.keyCode;    // Obtengo el codigo de la tecla
    
    expresion = /([a-zA-Z]+)([a-zA-Z0-9]*)/g;
    resultado = expresion.test(biografia+key);
    
    if(resultado == true && biografia.length < 256){
        console.log("correcto");
    } else {
        event.preventDefault();
    } 
  }

  function validarFormatoArchivo() {
    var extensionArchivo = /(.pdf)$/i;
    var curriculum = document.getElementById('curriculum');
    var archivo = curriculum.value;
    if(!extensionArchivo.test(archivo)){
        console.log(archivo);
        alert("El formato del currículum debe ser PDF");
    }
  }

  function validarFormatoImagen(){
    var extensionImagenes = /(.jpg|.jpeg|.png)$/i;
    var imagen = document.getElementById('img_perfil');
    var archivo = imagen.value;
    if(!extensionImagenes.test(archivo)){
        console.log(archivo);
        alert("El formato de la imagen no es válido");
    }
  }
</script>
{% endblock %}