{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Crear curso {% endblock %}
{% block contenido %}
<div class="col-lg-10" >
    <div class="card" align="center" >
            <div class="card-body">
                 <h2>  Crea un nuevo curso </h2>
            <br>
                <div class="form-validation">
                    <form name="nuevoCurso-form"class="form-valide" action="{% url 'nuevo_curso' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="nombreCurso">Nombre<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control texto" id="nombreCurso" name="nombreCurso"  maxlength="100" placeholder="Ingrese el nombre del curso " required autocomplete="off"  >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="descripcion">Descripción<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="textarea"  style=" height: 100px;" rows="10" cols="50" class="form-control" id="descripcion" name="descripcion" maxlength="255" placeholder="Ingrese la descripción del curso" required onkeydown="validarDescripcionCurso(event)" autocomplete="off"> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="area">Area<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="area" name="area" required>
                                    {%for area in area %}
                                        <option value="{{area.pk}}">{{area.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="pensum">Pénsum<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="FILE" class="form-control" id="pensum" name="pensum" accept=".pdf" onchange="validarFormatoArchivo()" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="duracion">Duración<span class="text-danger">*</span></label>
                            <div class="col-sm-2">
                                <input type="number" min="1" class="form-control" id="duracion" name="duracion"  placeholder="Ingrese la duración" required>
                                 
                            </div>
                            <label class="col-sm-2 col-form-label" for="duracion">Tipo Duración<span class="text-danger">*</span></label>
                                <select class="form-control-sm" id="tipoDuracion" name="tipoDuracion" required>
                                    <option value="S">Semanas</option>
                                    <option value="H">Meses</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="costo" id="costo">Costo<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="number" min="1" max="999" step="0.01" class="form-control" id="costo" name="costo" placeholder="Ingrese el costo" 
                                 required onkeydown="validarCosto()"required>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="profesor" id="profesor">Profesor<span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                <select class="form-control" id="profesor" name="profesor" required>
                                    {%for profesor in listaProfesor%}
                                        <option value="{{profesor.pk}}"> {{profesor.nombre}} {{profesor.apellido }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="imagen">Imagen<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="imagen" name="imagen" required
                                onchange="validarFormatoImagen()" accept="image/jpg, image/jpeg, image/png">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="estado">Estado<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="estado" name="estado" required>
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraScript %}
<script src=" {% static 'js/curso.js' %}"></script>
<script type="text/javascript">

    /*
    * Funcion de validar Nombre
    * Obtiene el evento de presionar una tecla
    * el evento da informacion como a tecla y el codigo
    * 
    * >> Reglas del campo NombreCurso
    *  - El nombre no puede empezar por un numero
    *  - El nombre solo puede contener letras y numeros
    *  - El nombre no puede ser mayor a 100 caracteres
    */
    
    $(".texto").keypress(function (key) {
    window.console.log(key.charCode)
    if ((key.charCode < 97 || key.charCode > 122)//letras mayusculas
        && (key.charCode < 65 || key.charCode > 90) //letras minusculas
        && (key.charCode != 45) //retroceso
        && (key.charCode != 241) //ñ
        && (key.charCode != 209) //Ñ
        && (key.charCode != 32) //espacio
        && (key.charCode != 225) //á
        && (key.charCode != 233) //é
        && (key.charCode != 237) //í
        && (key.charCode != 243) //ó
        && (key.charCode != 250) //ú
        && (key.charCode != 193) //Á
        && (key.charCode != 201) //É
        && (key.charCode != 205) //Í
        && (key.charCode != 211) //Ó
        && (key.charCode != 218) //Ú
        )
        return false;
    });

    function validarDescripcionCurso(event){
        var descripcion = document.getElementById('descripcion').value;
        var key = event.key;            // Obtengo la tecla que presiono
        var keyCode = event.keyCode;    // Obtengo el codigo de la tecla
        
        expresion = /([a-zA-Z]+)([a-zA-Z0-9]*)/g;
        resultado = expresion.test(descripcion+key);
        

        if(resultado == true && descripcion.length < 256){
            console.log("correcto");
        } else {
            event.preventDefault();
        }

    }

    function validarFormatoArchivo() {
        var extensionArchivo = /(.pdf)$/i;
        var pensum = document.getElementById('pensum');
        var filePensum = pensum.value;
        if(!extensionArchivo.test(filePensum)){
            console.log(filePensum);
            alert("El formato del pensum debe ser PDF");
        }
    }

    function validarFormatoImagen(){
        var extensionImagenes = /(.jpg|.jpeg|.png)$/i;
        var imagen = document.getElementById('imagen');
        var fileImagen = imagen.value;
        if(!extensionImagenes.test(fileImagen)){
            console.log(fileImagen);
            alert("El formato de la imagen no es válido");
        }

    }



</script>
{% endblock %}