{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Editar anuncio {% endblock %}
{% block contenido %}
<!-- Permite la edicion de la información de un anuncio -->
<div class="card">
  <h2>  Editar anuncio </h2>
  
  <!-- Campos de la información de un anuncio -->
  <div class="card-body">
    <div class="form-validation">
      <form class="form-valide" action="{% url 'modificar_anuncio' %}" 
        method="POST"  enctype="multipart/form-data"> {% csrf_token %}

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="descripcion">
            Descripción<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="textarea"  style=" height: 100px;" rows="10" 
            cols="50" class="form-control" id="descripcion" name="descripcion"
            value="{{ descripcion }}" maxlength="255"
            required onkeydown="validarDescripcionAnuncio(event)" 
            autocomplete="off">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="img_anuncio">
            Imagen<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="FILE" class="form-control" id="img_anuncio" 
              name="img_anuncio" required onchange="validarFormatoImagen()"
              accept="image/jpg, image/jpeg, image/png">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="fecha_limite">
            Fecha Límite<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="date" class="form-control" id="fecha_limite" name="fecha_limite"
            value="{{ fecha_limite }}" autocomplete="off">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="estado">
            Estado<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <select class="form-control" id="estado" name="estado">
              {% if estado == "Activo"%}
                <option selected value={{estado}}> {{estado}} </option>
                <option value="Inactivo">Inactivo</option>
              {% elif estado == "Inactivo" %}
                <option selected value={{estado}}> {{estado}} </option>
                <option value="Activo">Activo</option>
              {% endif %}
            </select>
          </div>
          <input type="hidden" name="idanuncio" id="idanuncio" value="{{idanuncio}}" required>
        </div>
        
        <!-- Boton para guardar la informacion editada -->
        <div class="form-group row">
          <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extraScript %}
<script type="text/javascript">

  function validarDescripcionAnuncio(event){
    var anuncio = document.getElementById('descripcion').value;
    var key = event.key;            // Obtengo la tecla que presiono
    var keyCode = event.keyCode;    // Obtengo el codigo de la tecla
    
    expresion = /([a-zA-Z]+)([a-zA-Z0-9]*)/g;
    resultado = expresion.test(anuncio+key);
    
    if(resultado == true && anuncio.length < 255){
        console.log("correcto");
    } else {
        event.preventDefault();
    } 
  }

  function validarFormatoImagen(){
    var extensionImagenes = /(.jpg|.jpeg|.png)$/i;
    var imagen = document.getElementById('img_anuncio');
    var archivo = imagen.value;
    if(!extensionImagenes.test(archivo)){
        console.log(archivo);
        alert("El formato de la imagen no es válido");
    }
  }
</script>
{% endblock %}